.eu-actions-container {
  display: flex;
  justify-content: space-between;
}

.eu-actions-container lightning-button + lightning-button {
  margin-left: 0.5rem;
}

.eu-datatable {
  display: block;
  height: 400px;
  width: 100%;
  overflow: auto;
}

.eu-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}