/**
 * Created by peterfriberg on 2024-08-15.
 */

.rounded-rect {
    background-color: #f3f3f3; /* Light gray */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    font-size: 1.0em;
    font-weight: bold;
}

.red {
    color: red;
}

.conv-result {
    background-color: #DDDDFF; /* Light blue */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

.td-indent {
    width: 40px;
}

.td-id {
    width: 290px;
}

.td-pad {
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    width: 82px
}

.tr-yellow {
    background-color: #FFFFD0; /* Yellow */
}

.number {
    text-align: right;
    width: 60px;
}

.currency {
    text-align: right;
    width: 66px;
}

.left-pad {
    padding-left: 10px;
}

.table-green {
    background-color: #d5fdd5; /* Green */
}

.border {
    border: 1px solid #aaaaaa;
}