/**
 * Created by peterfriberg on 2024-05-31.
 */

.product-container {
    background-color: #ffffcc; /* Light yellow */
    padding: 10px; /* Padding to give some room for your content */
    border: 1px solid #444444; /* black border make it appear like rectangle */
    margin: 5px;
    border-radius: 5px; /* rounded corners */
}

.mapping-container {
    background-color: #d5fdd5; /* Light green */
    padding: 10px; /* Padding to give some room for your content */
    border: 1px solid #444444; /* black border make it appear like rectangle */
    margin: 5px;
    border-radius: 5px; /* rounded corners */
}

.rounded-rect {
    background-color: #f3f3f3; /* Light gray */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

.rounded-rect2 {
    background-color: #ffb6c1; /* Light red */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

.rounded-rect3 {
    background-color: #d5fdd5; /* Light green */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

.conv-result {
    background-color: #DDDDFF; /* Light blue */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    font-size: 1.0em;
    font-weight: bold;
}

.custom-lis li {
    list-style-type: disc;
    margin-left: 16px;
    padding-left: 8px;
}

.product-name {
    font-size: 1.0em;
    font-weight: bold;
}

.my-or {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
}

.input-width {
    width: 218px;
}