/**
 * Created by peterfriberg on 2024-10-14.
 */

.rounded-rect {
    background-color: #f3f3f3; /* Light gray */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

.rounded-rect-success {
    background-color: #d5fdd5; /* Light green */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

.rounded-rect-warning {
    background-color: #ffc6b5; /* Light orange */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    font-size: 1.0em;
    font-weight: bold;
}

.red {
    color: red;
}

.custom-lis li {
    list-style-type: disc;
    margin-left: 16px;
    padding-left: 8px;
}

.conv-result {
    background-color: #DDDDFF; /* Light blue */
    border-radius: 5px;
    border: 1px solid #444444;
    padding: 10px;
    margin: 5px;
}

.td-indent {
    width: 40px;
}

.td-pad {
    padding-left: 5px;
    padding-right: 5px;
}

.tr-yellow {
    background-color: #FFFFD0; /* Yellow */
}

.table-green {
    background-color: #d5fdd5; /* Green */
}

.number {
    text-align: right;
}

.currency {
    text-align: right;
}

.left-pad {
    padding-left: 10px;
}

.bordered-table {
    border-collapse: collapse;
    width: 100%;
}

.bordered-table th, .bordered-table td {
    border: 1px solid #444444;
}

.button-around {
    padding: 5px;
}